*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left,#202330, #626881)
    
}
#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 0.5s ease forwards 3.5s;
}



#logo path:nth-child(10){
    stroke-dasharray: 570px;
    stroke-dashoffset: 570px;
    animation: line-anim 2s ease forwards 3s;
}
#logo  path:nth-child(9){
    stroke-dasharray: 470px;
    stroke-dashoffset: 470px;
    animation: line-anim 2s ease forwards 3.3s;
 }
 
 #logo path:nth-child(2){
    stroke-dasharray: 555px;
    stroke-dashoffset: 555px;
    animation: line-anim 2s ease forwards 0.6s;
 }
 
#logo path:nth-child(3){
    stroke-dasharray: 337px;
    stroke-dashoffset: 337px;
    animation: line-anim 2s ease forwards 0.9s;
 }
 
 #logo path:nth-child(4){
    stroke-dasharray: 410px;
    stroke-dashoffset: 410px;
    animation: line-anim 2s ease forwards 1.5s;
 }

 #logo path:nth-child(5){
    stroke-dasharray: 566px;
    stroke-dashoffset: 566px;
    animation: line-anim 2s ease forwards 1.5s;
 }

 #logo path:nth-child(6){
    stroke-dasharray: 566px;
    stroke-dashoffset: 566px;
    animation: line-anim 2s ease forwards 1.8s;
 }
 #logo path:nth-child(7){
    stroke-dasharray: 322px;animation: line-anim 2s ease forwards;
    stroke-dashoffset: 322px;
    animation: line-anim 2s ease forwards 2.1s;
 }
 #logo path:nth-child(16){
    stroke-dasharray: 322px;
    stroke-dashoffset: 322px;
    animation: line-anim 2s ease forwards 2.4s;
 }
 
 #logo path:nth-child(8){
    stroke-dasharray: 567px;
    stroke-dashoffset: 567px;
    animation: line-anim 2s ease forwards 2.7s;
 }

 @keyframes line-anim{
     to{
         stroke-dashoffset: 0;
     }
 }
 @keyframes fill{
     from{
         fill: transparent;
     }
     to{
         fill: white;
     }
 }
.landt{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
img {
    width: 100px;
    height: 100px;
    
}
header{
    width: 100%;
    margin: 20px;
 
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    color: whitesmoke;
    font-size: 60px;
    padding-left: 10px;
}
a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 25px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    
}
footer{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    color: whitesmoke;
}
#bigbubble{
    position: absolute;
    bottom: 0;
    right: 0%;
    width: 30%;
    height: 60%;
    opacity: 0.3;
}
#smallbubble{
    position: absolute;
    top: 35%;
    left: 50%;
    opacity: 0.6;
}
#secondbubble{
    position: absolute;
    top: 25%;
    left: 75%;
    width: 50px;
    height: 50px;
    opacity: 0.5;
}
#thirdbubble{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 500px;
    height: 500px;
    opacity: 0.2;
    
}